<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/users/pending">Pending Users list</a>
    <a class="navbar-brand" href="/users/all">All Users list</a>
    <a class="navbar-brand right" href="/auth/logout">Log out</a>
</nav>