<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/pendingusers">Pending Users list</a>
    <a class="navbar-brand" href="/allusers">All Users list</a>
</nav>