<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <body>
        <% include ./partials/nav %>
        <h1>Authenticated</h1>
        <p>Please use the navigation to continue</p>
    </body>
</html>