pre {
    padding:30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    webkit-box-sizing:border-box;
    display:block;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width:800px;
    overflow-x:auto;
}